/*	Name: Bianca Nascimento Campos
	Date: 2/16/2018*/


body{
	background-image: url("images/bk3.jpg");
	background-attachment: fixed;
	font-family: Arial;
	font-size: 1em;
}

.content{
	background:rgba(255,255,255,0.75);
	width: 90%;
    margin: auto;
    overflow: hidden;
}

.nav-bianca{
	padding: 20px 16px;
	color: white !important;
}

.nav-link{
	color: white !important;
}

.nav-link:hover{
	color: #9FEEFC !important;
}


.about{
	padding: 30px 16px;
	border-bottom: 3px solid #6BCBFE;
	float: right;
}

.about-img img{
	width: 35%;
	height: 55%;
	opacity: 0.95;
	float: left;
	padding-right: 30px;
}

.about-text div{
	padding: 3px;
}

.col-centered{
float: none;
margin: 0 auto;
}

.experience{
	padding: 5px 16px;
	border-bottom: 3px solid #6BCBFE;
}


.skills{
	padding: 30px 16px;
	border-bottom: 3px solid #6BCBFE;
}

.courses{
	padding: 10px 16px;
	padding-bottom: 15px;
}

#divCourses{
	padding: 10px 20px;
	padding-bottom: 15px;	
}

#divBold{
	font-weight: bold;
	font-size: 1.1em;
}


.index-footer{
	height: 60px;
	bottom: 0;
	background-color: #0078A7;  
	text-align: center;
	width: 100%;
	z-index: 999;
	padding-top: 15px;
}


footer a{
	text-align: left;
	color: white;
}